<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="../beranda"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drink</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-row">
    <ion-card class="center-content small-card" (click)="goToMineralWater()">
      <ion-card-header>
        <img src="assets/img/Drink/Mineral Water.png" alt="Mineral Water" class="card-img"/>
        <ion-label class="custom-card-title">Mineral Water</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToSoda()">
      <ion-card-header>
        <img src="assets/img/Drink/Soda.png" alt="Soda" class="card-img"/>
        <ion-label class="custom-card-title">Soda</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToCoffee()">
      <ion-card-header>
        <img src="assets/img/Drink/Coffee.png" alt="Coffee" class="card-img"/>
        <ion-label class="custom-card-title">Coffee</ion-label>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="card-row">
    <ion-card class="center-content small-card" (click)="goToTea()">
      <ion-card-header>
        <img src="assets/img/Drink/Tea.png" alt="Tea" class="card-img"/>
        <ion-label class="custom-card-title">Tea</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToMilk()">
      <ion-card-header>
        <img src="assets/img/Drink/Milk.png" alt="Milk" class="card-img"/>
        <ion-label class="custom-card-title">Milk</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToEnergyDrink()">
      <ion-card-header>
        <img src="assets/img/Drink/Energy Drink.png" alt="Energy Drink" class="card-img"/>
        <ion-label class="custom-card-title">Energy Drink</ion-label>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="card-container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
