<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Sign in</ion-button>
  </form>
  

  <ion-item lines="none" class="ion-text-center">
    <ion-label>Or</ion-label>
  </ion-item>

  <ion-button expand="full" fill="outline" (click)="signInWithGoogle()">
    <img src="assets/img/logo-google.png" alt="Logo" class="logo small-logo">
    Continue with Google
  </ion-button>

  <ion-item lines="none" class="ion-text-center">
    <ion-label>Don't have an account? <a [routerLink]="'/sign-up'">Sign Up</a></ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-center">
    <a [routerLink]="'/forgot'">Forgot Password?</a>
  </ion-item>
</ion-content>
