<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Daftar Belanja</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Rp {{ product.price | number }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="addToCart(product)">
        Tambah
      </ion-button>      
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/beranda">Home</ion-router-link></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="order">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/order">order</ion-router-link></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="basket">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/cart">Cart</ion-router-link></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/account">Account</ion-router-link></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
