<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/beranda"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Essential Groceries</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-row">
    <ion-card class="center-content small-card" (click)="goToBeras()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Essential Groceries.png" alt="Beras" class="card-img"/>
        <ion-label class="custom-card-title">Beras</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToTepung()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Tepung.png" alt="Tepung" class="card-img"/>
        <ion-label class="custom-card-title">Tepung</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToGula()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Gula.png" alt="Gula" class="card-img"/>
        <ion-label class="custom-card-title">Gula</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToGaram()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Garam.png" alt="Garam" class="card-img"/>
        <ion-label class="custom-card-title">Garam</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToMinyakGoreng()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Minyak Goreng.png" alt="Minyak Goreng" class="card-img"/>
        <ion-label class="custom-card-title">Minyak Goreng</ion-label>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="card-row">
    <ion-card class="center-content small-card" (click)="goToTelur()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Telur.png" alt="Telur" class="card-img"/>
        <ion-label class="custom-card-title">Telur</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToSusu()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Susu.png" alt="Susu" class="card-img"/>
        <ion-label class="custom-card-title">Susu</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToKedelai()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Kedelai.png" alt="Kedelai" class="card-img"/>
        <ion-label class="custom-card-title">Kedelai</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToKopiTeh()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Kopi dan Teh.png" alt="Kopi & Teh" class="card-img"/>
        <ion-label class="custom-card-title">Kopi & Teh</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="center-content small-card" (click)="goToBumbuDasar()">
      <ion-card-header>
        <img src="assets/img/Essential Groceries/Bumbu Dasar.png" alt="Bumbu Dasar" class="card-img"/>
        <ion-label class="custom-card-title">Bumbu Dasar</ion-label>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="card-container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
