<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Keranjang Belanja</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchbar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="clearCart()"
        [ngClass]="{'red-button': hasProducts}">
        <ion-icon
          slot="icon-only"
          name="trash-outline"
          [ngClass]="{'red-trash-icon': hasProducts}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class.has-products]="hasProducts" class="cart-page">
  <!-- Header pencarian -->
  <ion-header collapse="condense" *ngIf="showSearchbar">
    <ion-toolbar>
      <ion-title>
        <ion-searchbar [(ngModel)]="searchQuery" debounce="0"></ion-searchbar>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Header utama -->
  <ion-header collapse="condense" *ngIf="!showSearchbar">
    <ion-toolbar>
      <ion-title size="large">Keranjang Belanja</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-divider>
      <ion-label>Keranjang Belanja</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let product of cart">
      <ion-thumbnail slot="start">
        <img [src]="product.image" alt="{{ product.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Rp {{ product.price | number:'1.0-0' }}</p>
        <p>Jumlah: {{ product.quantity }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/beranda">Home</ion-router-link></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="order">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/order">Order</ion-router-link></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="basket">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/cart">Cart</ion-router-link></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label><ion-router-link routerLink="/account">Account</ion-router-link></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
